<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Conocenos</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
        <link rel="icon" href="img/logo01.png">
        <link rel="stylesheet" href="Style/main.css"/>
        <link rel="stylesheet" href="Style/nosotroshtml.css" />
        <script src="js/main.js"></script>
        
</head>
<body>

        <div class="logo logo_main">Mis Perris</div>
    
        <div class="nav">
            <div class="wrap">
                <div class="logo logo_small">Mis Perris</div>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="galeria.html">Galeria</a></li>    
                        <li><a href="nosotros.html">Conocenos</a></li>    
                        <li><a href="registro.html">Registro</a></li>           
                    </ul>
                </nav>
            </div>
        </div>
    <main>
        <!-- <div class="logo logo_main">Mis Perris</div>
    
        <div class="nav">
            <div class="wrap">
                <div class="logo logo_small">Mis Perris</div>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="galeria.html">Galeria</a></li>    
                        <li><a href="nosotros.html">Conocenos</a></li>    
                        <li><a href="registro.html">Registro</a></li>           
                    </ul>
                </nav>
            </div>
        </div> -->



        <div class="capa-black"></div>
            <h1 class="h1">Sobre nosotros</h1>
            <p class="parrafo1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, iusto. 
                Quas similique, consequatur soluta quidem recusandae molestiae sit nisi ipsam.</p>
            <div class="container-testimonial">
                <div class="testimonial">
                    <div class="photo-perfil"></div>
                    <h2>Sebastian Diaz</h2>
                    <h4>Ingeniero </h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Exercitationem modi pariatur labore nulla assumenda aliquam nobis.</p>

                    <div class="container-redes">
                        <a href="https://www.facebook.com/profile.php?id=1422312738" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <i class="fab fa-google"></i>
                    </div>
                </div>
            

            
            <div class="testimonial">
                <div class="photo-perfil2"></div>
                <h2>Vicente Liberona</h2>
                <h4>Secretaria</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Exercitationem modi pariatur labore nulla assumenda aliquam nobis.</p>

                <div class="container-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                </div>
            </div>
        

           
            <div class="testimonial">
                <div class="photo-perfil3"></div>
                <h2>Tio Campanario</h2>
                <h4>Borracho </h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Exercitationem modi pariatur labore nulla assumenda aliquam nobis.</p>

                <div class="container-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                </div>
            </div>
        </div>
        <i class="fas fa-ellipsis-v btn-menu"></i>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
                
        
    </main>
    
</body>

<footer>

        <div class="container-footer-all">

            <div class="container-body">

               <div class="colum1">
                <h1>Mas info</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                 Dignissimos dolore in maiores adipisci inventore tempora dolorem a nulla commodi sequi?</p>

                </div>
             <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="img/facebook.png" alt="">
                    <label for="">Facebook</label>
                </div>
                 <div class="row">
                    <img src="img/google.png" alt="">
                    <label for="">Google+</label>
                </div>
                <div class="row">
                    <img src="img/facebook.png" alt="">
                    <label for="">Instagram</label>
                </div>
              </div>
               <div class="colum3">
                <h1>Informacion</h1>

                <div class="row2">
                    <img src="" alt="">
                    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</label>
                </div>
                <div class="row2">
                    <img src="" alt="">
                    <label>99100342</label>
                </div>
                <div class="row2">
                    <img src="" alt="">
                    <label>sebastian.diazpe@gmail.com</label>
                </div>

                </div>
            </div>


               <div class="container-footer">
                    <div class="copyright">
                        Todos los derechos reservados.
                    </div>
        
                    <div class="information">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sint.
                    </div>
        
        
                </div>


             
        </div>

        

    </footer>
</html>