{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mis Perris</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <link rel="icon" href="img/logo01.png">
    <link rel="icon" href="{% static 'img/logo01.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="static/css/main.css" /> 
    
    <script src="js/main.js"></script>

    
    

</head>
<body>  

    <div class="logo logo_main">Mis Perris</div>
    
    <div class="nav">
        <div class="wrap">
            <div class="logo logo_small">Mis Perris</div>
            <nav>
                <ul>
                    <li><a href="index">Inicio</a></li>
                    <li><a href="galeria">Galeria</a></li>    
                    <li><a href="nosotros.html">Conocenos</a></li>    
                    <li><a href="registro.html">Registro</a></li>           
                </ul>
            </nav>
        </div>
    </div>

    <div class="main">
        <h1>Conoce mis perris</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra ipsum libero, 
            et pharetra enim porttitor vitae. Nullam sit amet justo ante. Pellentesque volutpat 
            maximus porta. Vivamus vitae viverra nisl, vel suscipit velit. Cras quis dolor pretium 
            dolor eleifend volutpat sed aliquam urna. Aenean tristique libero ac ante scelerisque, 
            nec tincidunt ex tempus. Vestibulum ut lobortis nibh, a eleifend eros. Phasellus id felis
             eu odio mollis ornare. Donec ultricies ultrices nulla, ut rutrum nisl sodales vitae. 
             Aliquam turpis neque, ultricies at eleifend eget, euismod euismod augue. Morbi non 
             mattis ligula, sed vestibulum tellus. Duis sed massa commodo, placerat lectus sed, porttitor est.
            </p>

        <p>
            Maecenas convallis gravida viverra. Sed egestas nisi ipsum, in placerat massa pellentesque at. Praesent sed 
            tellus vitae neque viverra tincidunt. Nam pulvinar, nulla sit amet euismod 
            pretium, tellus nibh pretium purus, sed mollis sapien arcu quis turpis. 
            Phasellus tincidunt purus metus, sed aliquam tortor malesuada non. In est 
            sapien, bibendum convallis faucibus sed, venenatis quis lectus. In hac 
            habitasse platea dictumst. Fusce venenatis urna a ornare convallis. 
            Integer ornare nisl eget eleifend pretium. Mauris blandit, eros sed rutrum accumsan, 
            massa felis malesuada eros, eu commodo risus tellus id orci. Aliquam nec ante non purus iaculis euismod.
             Ut gravida scelerisque ex, non maximus lacus porttitor quis. In tincidunt magna vel ultrices ullamcorper.
              Maecenas iaculis a lorem ut accumsan. Vivamus sagittis egestas egestas. Donec pretium eget nulla ut suscipit. </p>



              <h2>Carrusel</h2>
              <div class="content-all">
                  <div class="content-carrousel">
                      <!-- <figure><img src="img/perro1.jpg" alt=""></figure> -->
                      <figure><img src ="{% static 'img/perro3.jpg' %}"></figure>
                      <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
                      <figure><img src ="{% static 'img/perro1.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro2.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro1.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro2.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro1.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro2.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro1.jpg' %}"></figure>
                      <figure><img src ="{% static 'img/perro3.jpg' %}"></figure>
                      
                  </div>
                      
              </div>
    </div>


    <i class="fas fa-ellipsis-v btn-menu"></i>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
    <script src="{% static 'js/main.js'%}"></script>


    








    

    
    <main>
            <!-- <h2>Carrusel</h2>
            <div class="content-all">
                <div class="content-carrousel">
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                    <figure><img src="img/perro1.jpg" alt=""></figure>
                </div>
                    
            </div> -->
            

    </main>
   
    <footer>

        <div class="container-footer-all">

            <div class="container-body">

               <div class="colum1">
                <h1>Mas info</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                 Dignissimos dolore in maiores adipisci inventore tempora dolorem a nulla commodi sequi?</p>

                </div>
             <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src ="{% static 'img/facebook.png' %}">
                    <label>Facebook</label>
                </div>
                 <div class="row">
                    <img src ="{% static 'img/google.png' %}">
                    <label>Google+</label>
                </div>
                <div class="row">
                    <img src ="{% static 'img/facebook.png' %}">
                    <label>Instagram</label>
                </div>
              </div>
               <div class="colum3">
                <h1>Informacion</h1>

                <div class="row2">
                    
                    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</label>
                </div>
                <div class="row2">
                    
                    <label>99100342</label>
                </div>
                <div class="row2">
                    
                    <label>sebastian.diazpe@gmail.com</label>
                </div>

                </div>
            </div>


               <div class="container-footer">
                    <div class="copyright">
                        Todos los derechos reservados.
                    </div>
        
                    <div class="information">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sint.
                    </div>
        
        
                </div>


             
        </div>

        

    </footer>






    
</body>
</html>