<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Style/main.css"/>
    <link rel="stylesheet" href="Style/galeria.css"/>
    <script src="js/main.js"></script>
    <title>Galería</title>
</head>
<body>

        <div class="logo logo_main">Mis Perris</div>
    
        <div class="nav">
            <div class="wrap">
                <div class="logo logo_small">Mis Perris</div>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="galeria.html">Galeria</a></li>    
                        <li><a href="nosotros.html">Conocenos</a></li>    
                        <li><a href="registro.html">Registro</a></li>           
                    </ul>
                </nav>
            </div>
        </div>
    


    <div class="content-all-gallery">
        
        <div class="content-img">

            <img src="img/perro1.jpg" alt="dog">

            <div class="content-txt">
                <h2>Cachupin</h2>
                <p>Cachupin es un perro muy feliz, que neceista de una familia que lo cuide.</p>
            </div>
            
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
            
        </div>
        <div class="content-img">

                <img src="img/perro1.jpg" alt="dog">
    
                <div class="content-txt">
                    <h2>Lipigas</h2>
                    <p>Lipigas es un perro amarillo con ganas de veder gas.</p>
                </div>
                
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
    
                
                
                
        </div>
        <div class="content-img">

                <img src="img/perro1.jpg" alt="dog">
    
                <div class="content-txt">
                    <h2>Don graf</h2>
                    <p>Don graf es un perro guardian que te avisa si hay malitos por ahí.</p>
                </div>
                
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
    
                
                
                
        </div>


       





    </div>
</body>
<footer>

        <div class="container-footer-all">

            <div class="container-body">

               <div class="colum1">
                <h1>Mas info</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                 Dignissimos dolore in maiores adipisci inventore tempora dolorem a nulla commodi sequi?</p>

                </div>
             <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="img/facebook.png" alt="fb">
                    <label for="">Facebook</label>
                </div>
                 <div class="row">
                    <img src="img/google.png" alt="google">
                    <label for="">Google+</label>
                </div>
                <div class="row">
                    <img src="img/facebook.png" alt="fb">
                    <label for="">Instagram</label>
                </div>
              </div>
               <div class="colum3">
                <h1>Informacion</h1>

                <div class="row2">
                    <img src="" alt="">
                    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</label>
                </div>
                <div class="row2">
                    <img src="" alt="">
                    <label>99100342</label>
                </div>
                <div class="row2">
                    <img src="" alt="">
                    <label>sebastian.diazpe@gmail.com</label>
                </div>

                </div>
            </div>


               <div class="container-footer">
                    <div class="copyright">
                        Todos los derechos reservados.
                    </div>
        
                    <div class="information">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sint.
                    </div>
        
        
                </div>


             
        </div>

        

    </footer>
</html>